{% for comment in comments %}
    <section class="comment">
        {% if not comment.UserAvatar %}
            <img src='/web/avatars/no_avatar.jpg'>
        {% else %}
            <img src='/web/avatars/{{ comment.UserAvatar }}'>
        {% endif %}
        <div class="comment-header">
            <p>
                <span id="login">{{ comment.UserLogin }}</span>
                <span id="date">{{ comment.dateCreated|date('j.m.Y, G:i') }}</span>
                {% if comment.UserId == current_user %}
                    <a href="/index.php?controller=comments&action=delete&id={{ comment.id }}&login={{ comment.UserLogin }}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    <a href="/index.php?controller=comments&action=edit&id={{ comment.id }}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                {% endif %}
            </p>
        </div>
        <div class="comment-content">
            <p>{{ comment.content }}</p>
        </div>
        <div class="likes_counter">
            <input type="button" class="button btn btn-default btn-xs" value="Answer" onClick='$("#form"+{{ comment.id }}).show()'>
            <span class="counter">
                 {% if current_user in comment.LikedUser %}
                     {% set hartColor = "steelblue" %}
                 {% else %}
                     {% set hartColor = "lightblue" %}
                 {% endif %}
                <span id="likesCounter{{ comment.id }}" style="cursor: pointer;">
                    <span class="glyphicon glyphicon-heart" id="like_hart{{ comment.id }}" style="color:{{ hartColor }}"></span>
                    <span class="badge"  id="like{{ comment.id }}" data-id="{{ comment.id }}">
                        {{ comment.likes }}
                    </span>
                </span>
            </span>
        </div>
    </section>
    <div class="subcomment">
        <div class="subcommentform" id="form{{ comment.id }}">
            <form method="POST" action="/index.php?controller=comments&action=createSubcomment&parent_id={{ comment.id }}">
                <div class="form-group">
                    <label for="content">Comment</label>
                    <textarea class="form-control" id="content" name="content">{{ content }}</textarea>
                </div>
                <button type="submit" class="btn btn-info btn-sm">Answer</button>
            </form>
        </div>
        {% include 'subcomments.html.twig' with {'comments':comment.children} %}
    </div>
{% endfor %}